@layer base {
  body {
    @apply h-screen w-screen;
    font-family: var(--font-serif);
    background: var(--color-background);
    color: var(--color-foreground);
  }

  strong {
    font-weight: bold;
  }
}
